body {
    width:100%;
}
.site-container {
    width:100%;
    overflow: hidden;
}
.header {
    text-align: right;
    width:90%;
    margin-top:30px;
}

.header div a {
    background:#28abe3;
    font-family: 'roboto';
    font-weight: 300;
    border:0;    
}

.jumbotron {
    background: none;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: #ccc7c7;
}
.jumbotron h1 {
    font-weight: 100;
    font-size: 140px;
    color: #f65a5b;
    margin-bottom: 0px;
}
.heading-desc {
    position: relative;
    top:-20px;
}
.heatmap-icon {
    width:150px;
    height:150px;
    background:#1fda9a;
    border:solid 4px #02a36c; 
    overflow: hidden;
    color:#fff;
    font-size:100px;
    
}
.heatmap-h {
    font-weight: 100;
    position: relative;
    top:0px;
    left:0px;
}

.heatmap-content {
    position: relative;
    top:-10px;
    padding-left:20px;
    padding-right:20px;
    font-size: 20px;
    text-align: justify;
}
.heatmap-content h2 {
    font-size: 50px;
    color:#434040;
    margin-bottom: 30px;
}

.clickograph-icon {
    width:150px;
    height:150px;
    background:#28abe3;
    border:solid 4px #1891c3; 
    overflow: hidden;
    color:#fff;
    font-size:100px;
    
}
.clickograph-c {
    font-weight: 100;
    position: relative;
    top:0px;
    left:0px;
}

.clickograph-content {
    position: relative;
    top:-10px;
    padding-left:20px;
    padding-right:20px;
    font-size: 20px;
    text-align: justify;
}
.clickograph-content h2 {
    font-size: 50px;
    color:#434040;
    margin-bottom: 30px;
}

#signup-div {
    margin-top:80px;
    margin-bottom: 80px;
}

#signup-link {
    font-weight: 100;
    font-size: 50px;
    background: #f65a5b;
    border:0px;
}

#signup-link:hover {
    background: #db3340;
}