{% extends "simple-pages-layout.html" %}

{% block title %}
Add Page : clic-o-matic
{% endblock %}

{% block includes %}
    {{ super() }}
    <link rel="stylesheet" href=" {{ url_for('users.static',filename='addpage.css') }}">
{% endblock %}

{% block body %}
<!-- ========================= page information form ==================== -->
<div class="container">
<div class="jumbotron">
    <h1>clic-o-matic</h1>
    <span class="heading-desc">silently observe click behaviour of your visitors with heatmap and click-o-graph</span>
</div>
<div class="col-md-4 col-md-offset-8">
    <a href="{{ url_for('dashboard.dashboard_index') }}" role="button" class="btn btn-primary">Dashboard</a>
    <a href="{{ url_for('users.logout', username = user) }}" role="button" class="btn btn-primary">Logout</a>
</div>
<div class="col-md-8 col-md-offset-2 form-div">
    <div class="form-wrapper">

    {% from "_formhelper.html" import render_field %}
    <form method="post" action="{{ url_for('.add_page',path=path) }}" class="form-horizontal">
        {{ form.hidden_tag() }}

        <div class="form-group form-group-aligner {% if form.pageurl.errors %}has-error{% endif %}">
            <label for="inputUrl" class="personal-label url-label ">URL</label>
            <div class="input-group col-xs-12">
                <!--<input type="text" class="form-control input-url" id="inputPassword" placeholder="Enter New Url">
                <span class="help-block">Example: newpage,newpage/mypage</span>
                <span class="help-block"></span>-->

                {{ render_field(form.pageurl,class="form-control input-url",id="inputUrl",placeholder="http://www.example.com/some/path") }}
            </div>
        </div>
        
        <div class="form-group form-group-aligner">
            <div class="input-group col-xs-12">
                <input type="submit" class="btn button form-control green" id="save-and-continue-button" value="Save" />
            </div>
        </div>
    </form>
    </div>
   
</div>
<div class="code">
    <div class="col-md-8 col-md-offset-2">
        <span class="personal-label"><h2>Activation</h2></span>
        To activate the tracking of the clicks, add the following code in your website.
        Add this code at the bottom of the <code>&lt;body&gt;</code> tag.
        <pre class="code-content">
        <code>
&lt;script type="text/javascript"&gt;
function createCORSRequest(t,e){var o=new XMLHttpRequest;return"withCredentials"in o?o.open(t,e,!0):"undefined"!=typeof XDomainRequest?(o=new XDomainRequest,o.open(t,e)):o=null,o}var url="{{ page_domain }}";parent.postMessage('{ "height":'+document.body.scrollHeight+"}",url);var data_url=url+"remotedata";document.body.onclick=function(t){var e=location.protocol+"//"+location.hostname+(location.port?":"+location.port:"")+location.pathname;clicodata={pageurl:e,datapoint:{x:t.pageX,y:t.pageY}};var o=createCORSRequest("POST",data_url);if(!o)throw new Error("CORS not supported");o.setRequestHeader("Content-Type","application/json;charset=UTF-8"),o.send(JSON.stringify(clicodata))};
&lt;/script&gt;
        </code>
        </pre>
    </div>
</div>
</div>
{{ super() }}

{% endblock %}
